ENV=local
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
JWT_SECRET=your_jwt_secret_here
TOKEN_EXPIRY_DAYS=30
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
SNS_SENDER_ID=Matrimonio
MAILERSEND_FROM_EMAIL=noreply@yourdomain.com
MAILERSEND_API_KEY=your_mailersend_api_key_here
COUPLE_NAMES_IT=Nome 1 e Nome 2
COUPLE_NAMES_ES=Nombre 1 y Nombre 2
COUPLE_NAMES_EN=Name 1 and Name 2
VITE_PUBLIC_FRONTEND_URL=http://localhost:5173
VITE_ENABLE_PHOTOS=false
VITE_APP_TITLE=Private event
VITE_APP_META_DESCRIPTION=Private wedding event
VITE_HONEYMOON_NAME_1=Name 1
VITE_HONEYMOON_IBAN_1=DUMMY_IBAN_1
VITE_HONEYMOON_NAME_2=Name 2
VITE_HONEYMOON_IBAN_2=DUMMY_IBAN_2
