ENV=local
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
JWT_SECRET=your_jwt_secret_here
TOKEN_EXPIRY_DAYS=30
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
SNS_SENDER_ID=Matrimonio
SES_FROM_EMAIL=noreply@yourdomain.com
VITE_PUBLIC_FRONTEND_URL=http://localhost:5173
VITE_ENABLE_PHOTOS=false
VITE_HONEYMOON_NAME_1=Name 1
VITE_HONEYMOON_IBAN_1=DUMMY_IBAN_1
VITE_HONEYMOON_NAME_2=Name 2
VITE_HONEYMOON_IBAN_2=DUMMY_IBAN_2
