# Python
__pycache__/
lambda/layer/
lambda/photo_layer/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Node / Next.js
node_modules/
.next/
out/
.turbo/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.production
.env.*.local

# AWS CDK
cdk.out/
.cdk.staging/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Docker volumes
data/

# Personal photos
frontend_vite/public/photos/

# Personal strings
frontend_vite/src/locales/en.ts
frontend_vite/src/locales/it.ts
frontend_vite/src/locales/es.ts
frontend_vite/src/locales/fr.ts

#DB scripts
scripts/guests.csv
scripts/upload_guests_aws.py
