VITE_API_URL=http://localhost:8000
VITE_ENABLE_PHOTOS=false
VITE_APP_TITLE=Private event
VITE_APP_META_DESCRIPTION=Private wedding event
VITE_HONEYMOON_NAME_1=Name 1
VITE_HONEYMOON_IBAN_1=DUMMY_IBAN_1
VITE_HONEYMOON_NAME_2=Name 2
VITE_HONEYMOON_IBAN_2=DUMMY_IBAN_2
